.main
{
  background-color: rgb(100%, 100%, 100%);
  color: rgb(0%, 0%, 0%);
  font-family: lucida grande, tahoma, verdana, arial, helvetica, sans-serif;
  font-size: 12px;
}

.link
{
  color: rgb(0%, 0%, 80%);
  text-decoration: none;
}

.link:focus,
.link:hover
{
  text-decoration: underline;
  outline-style: none;
}

.overflow
{
  overflow: auto;
}

.left
{
  float: left;
  padding-right: 12px;
}
