.world_view_data
{
  font-weight: bold;
}

.world_view_info
{
  width: 7em;
}

.world_view_button_command
{
  width: 5em;
}

.world_view_input
{
  font-weight: bold;
  text-align: right;
  width: 3em;
}

.world_view_button_set
{
  width: 3em;
}
